@import "../config";
@import "../mixins/responsive";

.myProfile-container {
    .heading-text {
        font-size: 26px;
        color: black;
        margin-bottom: 20px;
    }

    .profile-info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 50px 40px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 1px 1px 7px rgba(154, 154, 204, 0.1);

        @include lg {
            flex-direction: row;
        }

        .profile-info-details {
            font-size: 15px;
            @apply space-y-4 lg:space-y-5;

            @include lg {
                font-size: 20px;
            }
        }

        .profile-image-container {
            width: 90px;
            margin-bottom: 30px;

            @include lg {
                width: 180px;
                margin-bottom: 0px;
            }
            img {
                width: 100%;
            }
        }
    }
}
