.spinner-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.607);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 60;
    @apply space-y-14;

    .loading-text {
        font-size: 32px;
        font-weight: 800;
        color: #d60000;
    }
}
