.nav-container{
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: lightgray;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 16px;
    @apply hidden lg:block;

    .nav-items{
        width: 1020px;
        margin: 0 auto;
        
        @apply flex justify-between  text-sm font-bold;
    }

    .nav-text{
        @apply block px-4 cursor-pointer hover:text-blue-700 py-3
    }
}